.studyplan-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.studyplan-container h2 {
    color: var(--color-text);
    width: fit-content;
    margin: 5%;
}

.studyplan-calendar {
    margin: 3%;
}

.studyplan-studygoals {
    margin: 3%;
}

.studyplan-createButtons {
    display: flex;
    flex-direction: column;
    
    min-width: 44px;
    min-height: 44px;

    width: 40%;
}

.studyplan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 480px) {
    .studyplan-createButtons {
    width: 25%;
    }
}