.linkButton {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 2px;
  padding: 6px 4px;
  border-radius: 6px;

  text-decoration: none;
}

.linkButton img {
  width: 24px;
  height: 24px;
  filter: var(--filter-icon);
}

.linkButton:hover img {
  filter: var(--filter-icon-hover);
}

.linkButton:hover .buttonText {
  color: var(--color-primary2);
}

.linkButton.active img {
  filter: var(--filter-icon);
}

.linkButton.active .buttonText {
  color: var(--color-white);
}

.buttonText {
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.buttonText:active,
.buttonText:focus,
.buttonText:visited {
  text-decoration: none;
}

@media (min-width: 480px) {
  .linkButton {
    padding: 12px 4px;
    border-radius: 8px;
  }

  .linkButton img {
    width: 28px;
    height: 28px;
  }

  .buttonText {
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 500;
    margin: 0;
  }
}