.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 80%;
    height: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2vh;
}

.heading {
    font-size: 4vh;
    text-align: center;
}

.text {
    font-size: 3vh;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    
}