.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;

    background-color: var(--color-bg-2);
}

.calendar-navbar {
    display: flex;
    justify-content: center;

    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.weekdays-full {
    display: none;
}
.weekdays-short {
    display: initial;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 10vw);
    text-align: center;

    gap: 5px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.calendar-navbar span {
    text-align: center;
}

.navbar-button {
    min-width: 44px;
    min-height: 44px;

    padding: 0;
    margin: 0;

    background-color: var(--color-bg-1);
}

.calendar-header {
    margin-top: 5%;
    color: var(--color-text);
}

.calendar-cell-grid {
    display: grid;
    grid-template-rows: repeat(6, 10vw);
    grid-template-columns: repeat(7, 10vw);
    gap: 5px;

    margin: 5%;
    margin-top: 0;
}

@media (min-width: 480px) {
    .calendar-container {
    }

    .cell-grid {
        grid-template-rows: repeat(6, 20%);
        grid-template-columns: repeat(7,20%);
    }
}

@media (min-width: 900px) {
    .weekdays-full {
        display: initial;
    }
    .weekdays-short {
        display: none;
    }
}