button{
  min-width: 44px;
  min-height: 44px;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text);

  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--color-border);

  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--color-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-focus);
}


.default-button {
  background-color: var(--color-button);
}

.highlight-button {
  background-color: var(--color-primary);
}

.highlight-button:hover {
  background-color: var(--color-primary-dark);
}