.header {
  display: inline-flex;
  background-color: var(--color-bars);
  padding: 20px;
  justify-content: space-between;
}

.headerLeft {
  display: inline-flex;
  justify-content: left;
  width: max-content;

  align-items: center;
  font-size: 16pt;
  gap: 3%;
  width: 80%;
}

.headerLeft h1 {
  font-size: 1.17em;
}

.headerRight {
  display: inline-flex;
  justify-content: right;
  display: inline-flex;
}

.linkButton img {
  width: 32px;
  height: 32px;
}

.headerRight .linkButton {
  padding: 0;
  justify-content: center;
}

.headerLeft .linkButton img {
  width: 48px;
  height: 48px;
}
