.header{
  display: inline-flex;
  background-color: var(--color-bg-2);
  padding: 20px;
  justify-content: space-between;
}
.headerLeft {
  display: inline-flex;
  justify-content: left;
}
.headerRight {
  display: inline-flex;
  justify-content: right;
  display: inline-flex

}

.headerText {
  padding-left: 25px;
  display: flex;
  align-items: center;
  color: var(--color-heading);
  font-size: 16pt;
  margin-left: 5%;
}

@media (min-width: 480px) {
  .header{
    display: inline-flex;
    background-color: var(--color-bg-2);
    justify-content: space-between;
  }

}