.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: var(--color-bg-2);
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (min-width: 480px) {
  .navbar{
    position: fixed;
    gap: 50px;
    bottom: 0%;
    left: 0;
    justify-content: flex-start;
    flex-direction: column;
    width: var(--navbar-width);
    max-width: var(--navbar-width);
    height: calc(100% - 25px);
    padding-top: 25px;
    padding-bottom: 0px;
  }
}